/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
    text-align:left;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	/*background: white url('indicator.gif') right center no-repeat;*/
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


table.discovery-filters td.discovery-filter-input-cell input{
    width: 98%;
}

table.discovery-filters tr.search-filter.used-filter input.filter-add
{
    visibility: hidden;
}

.arrow-down{
float:right;
line-height:30px;
color: rgb(112,140,169);
font-size:200%;
}

input#aspect_discovery_SimpleSearch_field_query{
	font-size: 16px;
	/*height: 25px;
	width: 350px;*/
	float:left;
}

input#aspect_discovery_SimpleSearch_field_filter{
	height: 16px;
}

select#aspect_discovery_SimpleSearch_field_filtertype{
	height:24px;
}


div#aspect_discovery_SimpleSearch_div_search-results ul{
    padding-left: 0;
}

div#aspect_discovery_SimpleSearch_div_search-results ul li{
    list-style: none;
}

ul.pagination-links{
    line-height: 30px;
}
