/* Project specific imports must be here */

/* PMLTQ */
@import url("lindat-pmltq.css");
/* Repository */
@import url("lindat-repository.css");
/* Services */
@import url("lindat-services.css");


/* The only global thing we have to set */
body {
    margin: 0; padding: 0;
}

/* Common class with color and font definition */
.lindat {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

.lindat-container {
    width: 950px;
    margin: 0 auto;
}

/* Header */

#lindat-header-wrapper {
    /* background: #FFF url('../img/top-bg-yelllow.png') repeat-x center bottom; */
    border-bottom: 6px solid #ccab28;
    height: 45px;
    min-width: 950px;
}

#lindat-header {
    position: relative;
}

#lindat-menu ul {
    margin: 0; padding:0;
    list-style: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 0;
}

#lindat-menu ul a {
    text-decoration: none;
    color: #222;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px 1px 10px;
    margin: 0 0.6em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 15px;
    border-radius: 5px;
}

#lindat-menu ul a:hover, #lindat-menu ul li.current-menu-item a {
    background-color: #ccab28;
    color: #f2f2f2;
}

#lindat-menu li {
    list-style-image: none;
    list-style-type: none;
    display: inline;
}

#lindat-home-icon {
    background: url('../img/home-icon.png') no-repeat left center;
    display: inline-block;
    width: 16px; height: 16px;
    margin-right: 6px;
}

#lindat-project-title {
    position: absolute;
    top: 0px;
    right: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin: 0; padding: 0;
    display: inline-block;
    white-space: nowrap;
    line-height: 40px;
}

#lindat-project-title a, #lindat-project-title a:hover span {
    text-decoration: none;
    color: #222;
}

/* Footer */
.lindat-footer {
    color: #333;
    margin: 0;
    clear: both;
    min-width: 950px;
}

.lindat-footer h3 {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
}

.lindat-footer ul {
    margin: 0; padding: 0;
}

.lindat-footer a {
    color: #636363;
    text-decoration: none;
}

.lindat-footer a:hover {
    text-decoration: underline;
}

.lindat-footer-bar {
    min-height: 160px;
    overflow: hidden;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: inset 0 -1px 0 white;
    background-color: #F8F8F8;
}

.lindat-footer-logo {
    display: block;
    overflow: hidden;
    text-indent: -4000px;
}

#lindat-footer-lindat {
    background: url('../img/lindat-logo-mono.png') no-repeat center center;
    margin-bottom: 10px;
    width: 110px;
    height: 59px;
}

#lindat-footer-msmt {
    background: url('../img/msmt-mono.png') no-repeat center center;
    width: 150px;
    height: 71px;
}

#lindat-footer-clarin {
    background: url('../img/clarin-eric-logo.png') no-repeat center center;
    width: 130px;
    height: 144px;
}

.lindat-footer-col {
    margin-top: 10px;
    padding: 0 0 15px 25px;
    float: left;
}

.lindat-footer-col-first {
    padding: 0;
}

.lindat-footer-parners {
    width: 290px;
}
.lindat-footer-parners ul {
    font-size: 12px;
}

.lindat-footer-links, .lindat-footer-repository {
    width: 135px
}

.lindat-footer-bar ul {
    list-style: none;
}

.lindat-footer-col > h3 {
    padding-bottom: 3px;
    margin: 0 0 5px 0;
    border-bottom: thin solid #E1E1E1;
}

#lindat-lower-footer {
    text-align: center;
}

#lindat-lower-footer p {
    font-size: 12px;
    margin: 1em 0;
}

/* Home, Contact and tools */
#lindat-home #lindat-home-item a,
#lindat-tools #lindat-tools-item a,
#lindat-contact #lindat-contact-item a{
    background-color: #ccab28;
    color: #f2f2f2;
}

/* Project Specific
 *
 * Please keep identificators naming convention #lindat-*project or page*
 */
