#lindat-repository .lindat-header .nav a:hover,
#lindat-repository #lindat-repository-item a {
        color: #FFF;
        background-color: #7479b8;
}

#lindat-repository .lindat-header
{
    background-color: #f0f0f0;
    border-bottom-color: #7479b8;
}

#lindat-repository .repository-only {
	display: block;
}