/* Project specific imports must be here */

/* bootstrap */
@import url("../bootstrap/css/bootstrap.min.css");
@import url("../bootstrap/css/bootstrap-responsive.min.css");
@import url("../bootstrap/css/font-awesome.min.css");
@import url("../bootstrap/css/ufal-theme.css");

/* PMLTQ */
@import url("lindat-pmltq.css");
/* Repository */
@import url("lindat-repository.css");
/* Services */
@import url("lindat-services.css");


/* The only global thing we have to set */
body {
    margin: 0; padding: 0;
}

/* Header */

.lindat-header {
    margin: 0px;
	background-color: #f0f0f0;    
    border-bottom: 6px solid #ccab28;
    text-align: center;
}

/* Footer */
.lindat-footer {
    color: #606060;
    margin: 0px;
    display: table;
}

.lindat-footer h1 {
	border-bottom: thin solid #C0C0C0;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 5px;
}

.lindat-footer a {
	color: #808080;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

.lindat-footer a:hover {
	text-decoration: underline;
}

.lindat-footer-main {
	display: block;
	text-align: center;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: inset 0 -1px 0 white;
	background-color: #F8F8F8;
}

.lindat-footer-main>* {
        text-align: left;
        display: inline-block;
        vertical-align: top;
        margin: 0px 5px;
}

.lindat-copyright {
	text-align: center;
	background-color: #FFF;
	padding: 5px;
	font-size: 90%;
}

.dsa-logo {
	background: url('../img/dsa.png') no-repeat center center;
	background-size: 75px;
	width: 170px;
	height: 60px;
	display: block;
	margin-top: 5px;
	background-size: 60px;
	background-position: 30px;
}

.clarinb-logo {
	background: url('../img/clarinb.png') no-repeat center center;
		background-size: 160px;
	width: 160px;
	height: 35px;
	display: block;
	margin-top: 28px;	
}

.lindat-logo-mono {
	background: url('../img/lindat-logo-mono.png') no-repeat center center;
	width: 125px;
	height: 59px;	
	display: block;
	margin: 10px 0px;
	background-size: 95px; 
}

.msmt-logo-mono {
	background: url('../img/msmt-mono.png') no-repeat center center;
	width: 130px;
	height: 60px;	
	display: block;
	margin: 10px 0px;
	background-size: 120px; 
}

.lindat-header .nav {
	margin: 5px 0px 0px 0px;
	display: inline-block;
}

.lindat-header .nav a {
	font-size: 115%;
	font-weight: bolder;
	color: #000;
}

.lindat-header .nav a:hover,
.lindat-header .nav li.active a {
	color: #FFF;
	background-color: #ccab28;
}

.lindat-header .nav li {
	margin: 0 5px;
}

.repository-only {
	display: none;
}


/* Home, Contact and tools */
#lindat-home #lindat-home-item a,
#lindat-tools #lindat-tools-item a,
#lindat-contact #lindat-contact-item a {
    background-color: #ccab28;
    color: #f0f0f0;
}

/* Project Specific
 *
 * Please keep identificators naming convention #lindat-*project or page*
 */
 
 
/* temporary for lindat home */

#site-container {
	width: 970px;
	margin: auto;
}
